body {
    background-color: #1b1b1b;
    color: antiquewhite;
}

#guess-results {
    margin: 0 auto;
    min-height: 400px;
    text-align: center;

    tr:not(:nth-child(2)) {
        height: 75px;
    }

    td {
        padding: 0;
    }

    td:first-child>a>img {
        margin-bottom: -4px;
        padding: 0 5px;
        width: 65px;
    }

    td:nth-child(3)>img,
    td:nth-child(4)>img {
        width: 120px;
    }
}

#inputs {
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown {
    width: 200px;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: scroll;
    max-height: 230px;
}

.dropdown input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 5px;
    cursor: pointer;
    color: black;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.buttons-container button {
    padding: 10px;
}

li.active {
    background-color: #d3d3d3;
}